.DS_Store
iOS/Cardbook/Cardbook.xcodeproj/project.xcworkspace/xcuserdata/
iOS/Cardbook/Cardbook.xcodeproj/xcuserdata/
iOS/Cardbook/Cardbook.xcodeproj/project.xcworkspace/xcshareddata/
Android/CardBook/bin/
Android/CardBook/gen/
Android/facebook/bin/
Android/facebook/gen/
out/
